.line-chart text {
  font-size: 11px;
  fill: #333;
}

.line-chart .frame-title text {
  font-size: 13px;
}

.line-chart .axis-baseline {
  stroke: #333;
  stroke-width: 0.5px;
}

.line-chart .tick-line {
  stroke: #e2e2e2;
  stroke-dasharray: 1, 2;
}

.line-chart .tooltip-content {
  background: white;
  border: 1px solid black;
  color: black;
  padding: 0;
  z-index: 99;
  min-width: 120px;
  font-size: 12px;
}

.line-chart .tooltip-content:before {
  background: white;
  content: "";
  padding: 0px;
  transform: rotate(45deg);
  width: 15px;
  height: 15px;
  position: absolute;
  z-index: 99;
}

.line-chart circle.frame-hover {
  fill: none;
  stroke: black;
  r: 5;
}
